





/* Media queries for responsive design */

@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    header {
    font-size: 16px;
    }
    
    section {
    padding: 10px;
    }
    }
    
    @media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Styles for screens between 601px and 900px */
    header {
    font-size: 20px;
    }
    
    section {
    padding: 15px;
    }
    }
    
    /* website desing responsive there */
    
    *{
    padding: 0;
    margin: 0;
    }
    
    /* main padding and margin getting Zero */
    
    header {
    background-color: #939393;
    }
    
    ul {
    display: flex;
    padding: 20px;
    }
    
    /* .searchead input {
    position: relative;
    top: 9px;
    left: 191px;
    height: 28px;
    } 
    
    .searchead button {
    position: relative;
    left: 167px;
    top: 10px;
    background: none;
    border: none;
    } */
    
    ul img {
    height: 50px;
    }
    
    body {
    background-color: #939393;
    }
    
    .section1 {
    background-color: red;
    height: 450px;
    }
    
    /* .section1 .heading1 h1 {
    padding-left: 70px;
    padding-top: 140px;
    font-size: 39px;
    font-weight: bold;
    font-style: italic;
    }
    
    .section1 .heading1 p {
    padding-left: 73px;
    font-weight: bold;
    font-style: italic;
    } */
    
    .section1 img {
    width: 1366px;
    height: 500px;
    }
    
    /* now makin image responsive */
    .section1 img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default styling that may affect responsiveness */
    }
    /* Media query for smaller screens */
    @media only screen and (max-width: 600px) {
    .section1 img {
    max-width: 100%; /* Adjust the maximum width for smaller screens */
    height: auto; /* Maintain the aspect ratio */
    }
    }
    /* responsive done */
    
    